# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
# this file is tsv -> tab separated values
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo = pd.read_csv(url, sep = '\t')

In [3]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. How many products cost more than $10.00?

In [4]:
# Converting item_price to float
change_type = lambda x: float(x)
chipo.item_price = chipo.item_price.str.replace('$', '').apply(change_type)
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [5]:
mask = chipo.item_price > 10
chipo_over10 = chipo[mask]
chipo_over10

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98
...,...,...,...,...,...
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25

In [13]:
chipo_over10.head()

,order_id,quantity,item_name,choice_description,item_price,unique_item
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,"Chicken Bowl[Tomatillo-Red Chili Salsa (Hot), ..."
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98,"Chicken Bowl[Fresh Tomato Salsa (Mild), [Rice,..."
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75,"Steak Burrito[Tomatillo Red Chili Salsa, [Faji..."
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,"Chicken Bowl[Fresh Tomato Salsa, [Fajita Veget..."
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98,Chicken Burrito[[Tomatillo-Green Chili Salsa (...

In [17]:
# There are some items that have different cost, given some ingredient choices, so the combination of item_name and choice description must be created
# to be able to filter unique items
#chipo['unique_item'] = chipo.apply(lambda row: row['item_name'] + row['choice_description'], axis=1)
chipo_over10.fillna('_', inplace=True)
chipo_over10['unique_item'] = chipo_over10['item_name'] + chipo_over10['choice_description']

chipo_over10.head()

/tmp/ipykernel_84588/115196256.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chipo_over10.fillna('_', inplace=True)
/tmp/ipykernel_84588/115196256.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chipo_over10['unique_item'] = chipo_over10['item_name'] + chipo_over10['choice_description']

,order_id,quantity,item_name,choice_description,item_price,unique_item
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,"Chicken Bowl[Tomatillo-Red Chili Salsa (Hot), ..."
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98,"Chicken Bowl[Fresh Tomato Salsa (Mild), [Rice,..."
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75,"Steak Burrito[Tomatillo Red Chili Salsa, [Faji..."
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,"Chicken Bowl[Fresh Tomato Salsa, [Fajita Veget..."
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98,Chicken Burrito[[Tomatillo-Green Chili Salsa (...

In [15]:
chipo_over10.unique_item.nunique() #-> There are 781 unique items with its ingredient choices that cost over $10

781

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [24]:
chipo_over10.loc[:,['unique_item', 'item_price']]

                                            unique_item  item_price
4     Chicken Bowl[Tomatillo-Red Chili Salsa (Hot), ...       16.98
5     Chicken Bowl[Fresh Tomato Salsa (Mild), [Rice,...       10.98
7     Steak Burrito[Tomatillo Red Chili Salsa, [Faji...       11.75
13    Chicken Bowl[Fresh Tomato Salsa, [Fajita Veget...       11.25
23    Chicken Burrito[[Tomatillo-Green Chili Salsa (...       10.98
...                                                 ...         ...
4610  Steak Burrito[Fresh Tomato Salsa, [Rice, Sour ...       11.75
4611  Veggie Burrito[Tomatillo Green Chili Salsa, [R...       11.25
4617  Steak Burrito[Fresh Tomato Salsa, [Rice, Black...       11.75
4618  Steak Burrito[Fresh Tomato Salsa, [Rice, Sour ...       11.75
4619  Chicken Salad Bowl[Fresh Tomato Salsa, [Fajita...       11.25

[1130 rows x 2 columns]

### Step 6. Sort by the name of the item

In [25]:
chipo_over10.loc[:,['unique_item', 'item_price']].sort_values(['unique_item'])

                                            unique_item  item_price
3389                       6 Pack Soft Drink[Diet Coke]       12.98
1175  Barbacoa Bowl[Fresh Tomato Salsa (Mild), [Blac...       11.48
1236  Barbacoa Bowl[Fresh Tomato Salsa (Mild), [Blac...       11.48
3017  Barbacoa Bowl[Fresh Tomato Salsa, [Fajita Vege...       11.75
4380  Barbacoa Bowl[Fresh Tomato Salsa, [Fajita Vege...       11.75
...                                                 ...         ...
3223  Veggie Salad Bowl[Tomatillo Red Chili Salsa, [...       11.25
2156  Veggie Salad Bowl[Tomatillo Red Chili Salsa, [...       11.25
3889  Veggie Soft Tacos[Fresh Tomato Salsa (Mild), [...       16.98
1699  Veggie Soft Tacos[Fresh Tomato Salsa, [Fajita ...       11.25
738   Veggie Soft Tacos[Tomatillo Red Chili Salsa, [...       11.25

[1130 rows x 2 columns]

### Step 7. What was the quantity of the most expensive item ordered?

In [27]:
chipo_over10.loc[:,['unique_item', 'item_price']].sort_values(['item_price'], ascending=False).head(1)

                        unique_item  item_price
3598  Chips and Fresh Tomato Salsa_       44.25

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [36]:
chipo[chipo['item_name'] == 'Veggie Salad Bowl'].shape[0] # -> It was ordered 18 times

18

In [37]:
chipo[chipo['item_name'] == 'Veggie Salad Bowl']

,order_id,quantity,item_name,choice_description,item_price,unique_item
186,83,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,"Veggie Salad Bowl[Fresh Tomato Salsa, [Fajita ..."
295,128,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",11.25,"Veggie Salad Bowl[Fresh Tomato Salsa, [Fajita ..."
455,195,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,"Veggie Salad Bowl[Fresh Tomato Salsa, [Fajita ..."
496,207,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Rice, Lettuce, Guacamole...",11.25,"Veggie Salad Bowl[Fresh Tomato Salsa, [Rice, L..."
960,394,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,"Veggie Salad Bowl[Fresh Tomato Salsa, [Fajita ..."
1316,536,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",8.75,"Veggie Salad Bowl[Fresh Tomato Salsa, [Fajita ..."
1884,760,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,"Veggie Salad Bowl[Fresh Tomato Salsa, [Fajita ..."
2156,869,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25,"Veggie Salad Bowl[Tomatillo Red Chili Salsa, [..."
2223,896,1,Veggie Salad Bowl,"[Roasted Chili Corn Salsa, Fajita Vegetables]",8.75,"Veggie Salad Bowl[Roasted Chili Corn Salsa, Fa..."
2269,913,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",8.75,"Veggie Salad Bowl[Fresh Tomato Salsa, [Fajita ..."
2683,1066,1,Veggie Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,"Veggie Salad Bowl[Roasted Chili Corn Salsa, [F..."
3223,1289,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25,"Veggie Salad Bowl[Tomatillo Red Chili Salsa, [..."
3293,1321,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",8.75,"Veggie Salad Bowl[Fresh Tomato Salsa, [Rice, B..."
4109,1646,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25,"Veggie Salad Bowl[Tomatillo Red Chili Salsa, [..."
4201,1677,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Black...",11.25,"Veggie Salad Bowl[Fresh Tomato Salsa, [Fajita ..."
4261,1700,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,"Veggie Salad Bowl[Fresh Tomato Salsa, [Fajita ..."
4541,1805,1,Veggie Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",8.75,"Veggie Salad Bowl[Tomatillo Green Chili Salsa,..."
4573,1818,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,"Veggie Salad Bowl[Fresh Tomato Salsa, [Fajita ..."

### Step 9. How many times did someone order more than one Canned Soda?

In [38]:
mask = (chipo.item_name == "Canned Soda") & (chipo.quantity > 1)
chipo[mask].shape[0] #-> 20 times

20